@font-face {
    font-family: 'guaranpisFont';
    /*a name to be used later*/
    src: url('../fonts/guaranpis.ttf');
    /*URL to font*/
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: #ffffff;
    font-family: Inter, Storica, KVC-Midgard, El Messiri, Poppins, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #000000;
}



.logo__size {
    display: flex;
    justify-content: center;
    height: 100px;
}

@media only screen and (max-width: 600px) {
    .logo__size {
        display: flex;
        justify-content: center;
        height: 70px;
    }
}

.section__position__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__block {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .section__block {
        display: flex;
        flex-direction: column;
    }
}

.first__section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8%;
}

.section__content__gif>img {
    display: block;
    width: 100%;
}

/* First section */

.body__bg {
    height: 100vh;
    background-image:
        linear-gradient(to bottom, #000000ff 0%, #00000011 20%),
        linear-gradient(to top, #000000ff 0%, #00000011 40%),
        url(../images/fondototal_optimized.jpg);
}

.section__block_logo {

}


.section__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 50px;
}

.section__caption {
    margin: 0;
    font-family: guaranpisFont;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.167;
    color: #FFEAB5;
    text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
}

/* Second section */

.second__section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-repeat: no-repeat;
    background-image:
        linear-gradient(to bottom, #000000ff 0%, #00000011 40%),
        linear-gradient(to top, #000000ff 0%, #00000011 40%),
        url(../images/saqueo_roma.png);
}


/* Third section */

.third__section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-repeat: no-repeat;
    background-image:
        linear-gradient(to bottom, #000000ff 0%, #00000011 40%),
        linear-gradient(to top, #000000ff 0%, #00000011 40%),
        url(../images/971381.jpg);
}