@font-face {
    font-family: 'guaranpisFont';
    /*a name to be used later*/
    src: url('../fonts/guaranpis.ttf');
    /*URL to font*/
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: #ffffff;
    font-family: Inter, Storica, KVC-Midgard, El Messiri, Poppins, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #000000;
}


.logo__size {
    display: flex;
    justify-content: center;
    height: 150px;
    padding-top: 50px;

}

.section__position__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__block {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.button__login{
    width: 50%;
}

.first__section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

.first__section::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: linear-gradient(to top, #000000ff 5%, #00000000 30%);
}

.section__content__gif>img {
    display: block;
    width: 80%;
    margin: auto;
}

/* First section */

.body__bg {
    height: 100vh;
    background-image:
        linear-gradient(to bottom, #000000ff 0%, #00000011 20%),
        linear-gradient(to top, #000000ff 0%, #00000011 40%),
        url(../images/fondototal_optimized.jpg);
}

.section__block_logo {

}


.section__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 50px;
}

.section__caption {
    margin: 0;
    font-family: guaranpisFont;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.167;
    color: #FFEAB5;
    text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
}

.bounce-arrow-down {
    position: absolute;
    margin: auto;
    bottom: 0;
    width: 10vw;
    left: 0;
    right: 0;
}

/* Second section */

.second__section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #000000ff 0%, #00000011 100%), url(../images/saqueo_roma.png);
}

.overlay {
    left: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
}

.overlay.bottom {
    bottom: 0;
    height: 110px;
    z-index: 1;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-image: url(../images/torn.png);
    background-repeat: repeat-x;
}

.icon__badge {
    position: absolute; 
    left: 10vw; 
    top: 37vh; 
    filter: grayscale(100%);
    width: 100px;
}


/* Third section */

.third__section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-repeat: no-repeat;
    background-image:
        linear-gradient(to bottom, #000000ff 0%, #00000011 40%),
        linear-gradient(to top, #000000ff 0%, #00000011 40%),
        url(../images/971381.jpg);
}




@media only screen and (max-width: 600px) {
    .section__block {
        display: flex;
        flex-direction: column;
    }

    .button__login{
        width: 100%;
    }

    .section__content__gif>img {
        width: 100%;
    }

    .logo__size {
        display: flex;
        justify-content: center;
        height: 150px;
    }

    .second__section{
        background-size: auto 100%;
    }

    .overlay.bottom {
        height: 80px;
    }

    .bounce-arrow-down {
        width: 30vw;
    }

}